@import "selectric.css";

body {
	padding: 0px;
	margin: 0px;
	background-color: #ffffff;
}

* {
	color: #000000;
    font-size: 14px;
    font-family: 'Calibri';
}

h1, h2, h3, h4, h5, h6 {
    color: #b32529;
}
a {
    color: #b32529;
}
    a:hover {
        color: #767676;
    }

h1 {
    font-size: 18px;
    text-transform: uppercase;
}
h2 {
    font-size: 17px;
}
h3, h4, h5, h6 {
    font-size: 16px;
    font-style: italic;
}

.wrapper {
    width: 1200px;
    margin: auto;
    background: url(/image/city.jpg) no-repeat;
}

.header {
    height: 190px;
}
    .header .left {
        width: 400px;        
        float: left;
    }
        .header .left .logo {
            float: left;
            width: 220px;
            height: 130px;
            margin-left: 142px;
            margin-top: 33px;
            background: url(/image/logo.png) no-repeat;
        }
            .header .left .logo a {
                display: block;
                width: 100%;
                height: 100%;
            }

    .header .center {
        width: 420px;        
        float: left;
    }
        .header .center .phone {
            float: right;
            margin-top: 65px;
        }
            .header .center .phone p {
                margin: 0px;
                font-size: 22px;
                font-family: 'Times New Roman';
                text-shadow: 2px 2px 3px #ffffff;
            }
        
        .header .center .callback {
            float: right;
            margin-top: 5px;
            margin-right: 10px;
        }
    
    .header .right {
        float: right;
        margin-right: 120px;
    }
        .header .right .search {
            float: right;
            margin-top: 25px;
        }
        .header .right .client {
            float: right;
            margin-top: 20px;
            margin-right: 30px;
        }
        .header .right .cart {
            float: right;
            width: 150px;
            height: 40px;
            margin-top: 15px;
            padding-left: 40px;
            background: url('/image/cart.png') no-repeat;
        }
        .header .right .compare {
            float: right;
            width: 150px;
            height: 40px;
            padding-left: 40px;
            background: url('/image/compare.png') no-repeat;
        }
        
        .header .right * {
            color: #000000;
        }
        .header .right a:hover {
            color: #b32529;
        }  
        .header .right .cart *, .header .right .compare * {
            font-size: 18px;
            line-height: 15px;
        }
  
.main {
    width: 960px;
    margin: auto;
    background: white;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5);
}

.menu {
    height: 38px;
    text-align: center;
    background: url(/image/menu.png) no-repeat;
}
    .menu a {
        display: inline-block;
        margin: 10px 50px 0px 50px;
        color: #b32529;
        font-weight: bold;
        font-family: 'Tahoma';
        text-transform: uppercase;
        text-decoration: none;
    }
        .menu a:hover, .menu a.selected {
            color: #4d4d4d;
        }

.sidebar {
    width: 200px;
    padding-top: 30px;
    display: inline-block;
    vertical-align: top;
}
    .sidebar ul {
        list-style: none;
        padding: 5px 0px 5px 30px;
    }
        .sidebar ul li a {
            color: #b32529;
            font-weight: bold;
            font-family: 'Tahoma';
            text-decoration: none;
        }
            .sidebar ul li ul {
                list-style: disc;
                padding-left: 20px;
            }
                .sidebar ul li ul li a {
                    color: #4e4e4e;
                    font-weight: normal;
                    text-transform: lowercase;
                    font-style: italic;
                }
                .sidebar ul li ul li a:hover {
                    color: #b32529;
                    text-decoration: underline;
                }

.content {
    width: 740px;
    padding-top: 35px;
    display: inline-block;
    vertical-align: top;
}

.footer {
    height: 84px;
    background: url(/image/footer.jpg) no-repeat;
}
    .footer .left {
        width: 400px;        
        float: left;
    }
        .footer .left .submenu {
            float: left;
            margin-top: 25px;
            margin-left: 30px;
        }
            .footer .left .submenu * {
                margin: 0px;
                color: #000000;
                text-decoration: none;
            }
                .footer .left .submenu a:hover {
                    color: #b32529;
                    text-decoration: underline;
                }            
        .footer .left .copyright {
            float: left;
            margin-top: 0px;
            margin-left: 30px;
        }
            .footer .left .copyright * {
                margin: 0px;
                color: #b32529;
                font-size: 14px;
                font-family: 'Tahoma';
            }
    
    .footer .right {
        float: right;
    }
        .footer .right .subcontact {
            float: right;
            text-align: right;
            margin-top: 25px;
            margin-right: 30px;
        }
            .footer .right .subcontact * {
                margin: 0px;
            }    

.clear {
    clear: both;
}

.pages {
    margin: 10px;
    text-align: right;
}
    .pages * {
        margin-left: 2px;
        margin-right: 2px;
    }
    .pages a.next-page, .pages a.prev-page {
        display: inline-block;
        width: 8px;
        height: 10px;
    }
    .pages a.next-page {
        background: url('/image/page-inc.png') bottom no-repeat;
    }
    .pages a.prev-page {
        background: url('/image/page-dec.png') bottom no-repeat;
    }

/* Catalogue */

.product {
    display: inline-block;
    width: 240px;
    vertical-align: top;
    margin-bottom: 20px;
}
    .product .title {
        height: 35px;
        text-align: center;
    }
            .product .title a {
                color: #000000;
                font-weight: bold;
                text-decoration: none;
            }
            .product .title a:hover {
                color: #b32529;
            }
    .product .link {
        height: 35px;
        text-align: center;
    }
            .product .link  a {
                color: #b32529;
            }
    .product .marker {
        width: 200px;
        z-index: 100;
        text-align: right;
        position: absolute;
    }
    .product .image {
        text-align: center;
    }
    .product .price {
        margin-left: 25px;
    }
        .product .price .product_select_container {
            display: table-cell;
            vertical-align: bottom;
            padding-right: 15px;
        }
            .product .price .product_select {
                width: 65px;
            }
        .product .price .product_value_container {
            display: table-cell;
            vertical-align: bottom;
            padding-bottom: 1px;
        }
            .product .price .product_value {
                display: inline-block;
                width: 15px;
                font-size: 20px;
                font-weight: bold;
                text-align: center;
            }
            .product .price .product_dec, .product .price .product_inc {
                display: inline-block;
                width: 11px;
                height: 15px;
                background-position: bottom;
                background-repeat: no-repeat;
            }
            .product .price .product_dec {
                background-image: url('/image/product-dec.png');
            }
            .product .price .product_inc {
                background-image: url('/image/product-inc.png');
            }
        .product .price .product_price_container {
            display: table-cell;
            vertical-align: bottom;
            padding-left: 10px;
            padding-bottom: 4px;
        }
            .product .price .product_price {
                display: inline-block;
                color: #b32529;
                font-size: 16px;
                font-weight: bold;
            }
        
    .product .control {
        margin-top: 7px;
        text-align: center;
    }
    .product .in-basket {
        display: none;
        width: 200px;
        z-index: 200;
        text-align: left;
        position: absolute;
        margin-top: -30px;
        margin-left: 10px;
        background: white;
        border: 1px solid #000000;
        padding: 10px;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    }

.brand {
    float: left;
}
    .brand select {
        width: 130px;
    }
.sort {
    float: right;
}
.filter {
    margin-top: 10px;
    margin-bottom: 20px;
}
    .filter input.button {
        margin: 0px;
    }
    .filter .filter_property_container {
        display: table-cell;
        vertical-align: bottom;
        padding-right: 5px;
        padding-bottom: 4px;
    }
    .filter .filter_input_container {
        display: table-cell;
        vertical-align: bottom;
        padding-right: 10px;
        padding-bottom: 3px;
        font-style: italic;
    }
    .filter .filter_select_container {
        display: table-cell;
        vertical-align: bottom;
        padding-right: 10px;
    }
    .filter .filter_button_container {
        display: table-cell;
        vertical-align: bottom;
        padding-bottom: 3px;
    }


/* Compare */

table.compare {
    border-collapse: collapse;
}
    table.compare td {
        padding: 5px;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #cecece;
    }
    table.compare td {
        width: 100px;
    }
        table.compare td.property {
            width: 180px;
        }
        table.compare td.title {
            font-weight: bold;
        }
        table.compare td.equal {
            color: #b7b7b7;
        }
    
    
/* Client */

div.purchase {
    padding: 10px;
}
    div p {
        margin: 0px 0px 5px 0px;
    }
    div p.total {
        color: #b32529;
        font-style: italic;
    }
        div p.total b {
            color: #b32529;
        }
    div p.default {
        margin: 5px 0px 5px 0px;
        color: #4d4d4d;
        font-style: italic;
    }
        div p.default a {
            color: #b32529;
            font-style: italic;
        }
    div.purchase.selected {
        background: #ececec;
    }

.client_menu {
    margin-bottom: 20px;
}
.client_menu input.button {
    color: #4d4d4d;
    text-transform: none;
}
.client_menu input.button.selected {
    color: #b32529;
    box-shadow: inset 0px 2px 7px 0px rgba(0, 0, 0, 0.5);
}


/* Forms */

input.button {
    height: 21px;
    border: none;
    border-radius: 10px;
    background: #dfdfdf;
    box-shadow: inset 0px -2px 7px 0px rgba(0, 0, 0, 0.5);
    color: #b32529;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 15px 0px 15px;
}
    input.button:hover {
        cursor: pointer;
        color: #4d4d4d;
    }
form input.button {
    margin: 7px 0px 0px 153px;
}

input.text {
    width: 180px;
    height: 20px;
    border: none;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
    box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

form textarea {
    width: 330px;
    height: 50px;
    border: none;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
    box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

form label {
    display: inline-block;
    width: 150px;
    margin-top: 10px;
}
span.require, span.error {
    color: #b32529;
}
    
input.search-field {
    width: 180px;
    height: 24px;
    border: none;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: inset 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 0px 10px 0px 10px;
}

input.search-button {
    width: 27px;
    height: 27px;
    border: none;
    border-radius: 10px;
    background: url('/image/search.png');
}


/* Modal dialog */

#simplemodal-overlay {
    background-color: #000;
}
#simplemodal-container {
    background-color: #fff;
    border: 1px solid #000; 
    padding: 20px; 
    width: 360px;
    height: 280px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
}
#simplemodal-container a.modalCloseImg {
    background: url(/image/close.png) no-repeat;
    width: 25px;
    height: 29px;
    display: inline;
    z-index: 3200;
    position: absolute;
    top: -12px;
    right: -13px;
    cursor: pointer;
}


/* Rating */

.vote{
    width: 100px;
    height: 20px;
    cursor: default;
}
.vote .star{
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url(/image/stars.png) 13px 0px;
}
.vote .star.active{
    background: url(/image/stars.png) 0px 0px;
}


/* Slider */

.brand-wrapper {
    width: 200px;
    text-align: center;
}
    .brand-nav {
        margin-top: 20px;
        margin-bottom: 20px;
        display: inline-block;
    }
    .brand-slideshow {
        margin: auto;
        width: 100px;
    }
        .brand-slideshow img {
            width: 100px;
            height: 100px;
        }

.teaser-wrapper {
    
}
    .teaser-slideshow {
        margin: auto;
    }
        .teaser-slideshow img {
            width: 690px;
            height: 190px;
            margin: 10px;
            box-shadow: 2px 2px 10px #a0a0a0;
        }
        
        .teaser-pager {
            width: 700px;
            position: absolute;
            margin-top: -60px;
            text-align: right;
        }
            .teaser-pager span {
                font-family: Arial;
                font-size: 50px;
                width: 16px;
                height: 16px;
                display: inline-block;
                color: #4d4d4d;
                cursor: pointer;
            }
            .teaser-pager span.cycle-pager-active {
                color: #b32529;
            }